-var logoIcon= "../assets/images/pinterest.svg"
-var searchIcon= "../assets/images/search.svg"
-var notificacionIcon= "../assets/images/bell.svg"
-var chatIcon= "../assets/images/chat.svg"
-var userIcon= "../assets/images/user.svg"
-var arrowIcon= "../assets/images/down-arrow.svg"
-var exportIcon= "../assets/images/export.svg"
-var moreIcon= "../assets/images/more.svg"


mixin postSmall(url, title, boardname, webpage, cuadros)
  .postContainer.postSmall
    img(src=url alt=title)
    .topOptions
      a.topOptions-board(href="") 
        span #{boardname}
      a.topOptions-save(href="") 
        span Save
    .bottomOptions
      a.bottomOptions-url(href="/") 
        span #{webpage}
      a.bottomOptions-share(href="/")
        img(src=exportIcon)
      a.bottomOptions-menu(href="/")
        img(src=moreIcon)

mixin postMedium(url, title, boardname, webpage, cuadros)
  .postContainer.postMedium
    img(src=url alt=title)
    .topOptions
      a.topOptions-board(href="") 
        span #{boardname}
      a.topOptions-save(href="") 
        span Save
    .bottomOptions
      a.bottomOptions-url(href="/") 
        span #{webpage}
      a.bottomOptions-share(href="/")
        img(src=exportIcon)
      a.bottomOptions-menu(href="/")
        img(src=moreIcon)

mixin postLarge(url, title, boardname, webpage, cuadros)
  .postContainer.postLarge
    img(src=url alt=title)
    .topOptions
      a.topOptions-board(href="") 
        span #{boardname}
      a.topOptions-save(href="") 
        span Save
    .bottomOptions
      a.bottomOptions-url(href="/") 
        span #{webpage}
      a.bottomOptions-share(href="/")
        img(src=exportIcon)
      a.bottomOptions-menu(href="/")
        img(src=moreIcon)
