header
  nav
    .menuContainer
      figure.logoContainer
        img(src=logoIcon  alt="logo pinterest")
      span.menuText.selected Inicio 
      span.menuText Hoy
      span.menuText Siguiendo
    .searchContainer
      .searchBar
        figure.searchIconContainer
         img(src=searchIcon , alt="")
        input(type="text" placeholder="Busqueda")
    .optionsContainer
      figure.optionsiconContainer
        img(src=notificacionIcon , alt="notificaciones")
      figure.optionsiconContainer
        img(src=chatIcon , alt="mensajes sin leer")
      figure.optionsiconContainer
        img(src=userIcon , alt="perfil")
      figure.optionsiconContainer
        img(src=arrowIcon , alt="mas opciones")
